* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.row{
    margin-bottom: 0;
}
.title {
    text-align: center;
}

.title h3 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 22px;
    color: #383838;
    margin-bottom: 30px;
}


.title span {
    color: #7857FE;
}

/* =====================================
        Nav Part start
======================================== */
nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: transparent;
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 0%), 0 3px 1px -2px rgb(0 0 0 / 0%), 0 1px 5px 0 rgb(0 0 0 / 0%);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 0%), 0 3px 1px -2px rgb(0 0 0 / 0%), 0 1px 5px 0 rgb(0 0 0 / 0%);
}

nav ul li a {
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
}

/* =====================================
        Nav Part end
======================================== */
/* =====================================
        Banner Part start
======================================== */
#banner-part {
    background: url(../images/banner.jpg) no-repeat center;
    background-size: cover;
    border-radius: 0px 0px 100px 0px;
    -webkit-border-radius: 0px 0px 100px 0px;
    -moz-border-radius: 0px 0px 100px 0px;
    -ms-border-radius: 0px 0px 100px 0px;
    -o-border-radius: 0px 0px 100px 0px;
}

#banner-part .overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(120, 87, 254);
    background: linear-gradient(0deg, rgb(120 87 254 / 60%) 0%, rgb(120 87 254 / 90%) 80%);
    padding: 100px 0;
    border-radius: 0px 0px 150px 0px;
    -webkit-border-radius: 0px 0px 100px 0px;
    -moz-border-radius: 0px 0px 150px 0px;
    -ms-border-radius: 0px 0px 150px 0px;
    -o-border-radius: 0px 0px 150px 0px;
}

#banner-part .overlay h1 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 32px;
    color: #fff;
    margin-top: 100px;
}

#banner-part .overlay p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    margin-top: 20px;
    width: 405px;
    text-align: justify
}

#banner-part .overlay .reg {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #7857FE;
    background: #fff;
    padding: 15px 20px;
    border-radius: 27px;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    -ms-border-radius: 27px;
    -o-border-radius: 27px;
    margin-right: 20px;
    margin-top: 30px;
}

#banner-part .overlay .vdo {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}

#banner-part .overlay .vdo i {
    font-size: 18px;
    color: #7857FE;
}

#banner-part .overlay .img {
    text-align: center;
}

/* =====================================
        Banner Part end
======================================== */
/* =====================================
        Feature Part start
======================================== */
#feature {
    margin: 80px 0;
}

#feature .card {
    text-align: center;
    padding: 15px 10px;
}

#feature .card .round {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #7857FE;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#feature .card .round i {
    font-size: 16px;
    color: #7857FE;
}

#feature .card h3 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 16px;
    color: #383838;
    margin: 15px 0;
}

#feature .card p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #222222;
}

/* =====================================
        Feature Part end
======================================== */
/* =====================================
        Fects Part start
======================================== */
#fact {
    background: #F8F8F8;
    padding: 30px 0;
}

#fact .img {
    text-align: center;
}

#fact .img img {
    width: auto;
    height: 450px;
}

#fact .title {
    text-align: left;
}

#fact p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #222222;
}

#fact .count {
    text-align: center;
    margin-top: 30px;
}

#fact .count .item {
    padding: 30px 0;
    background: #E91E63;
    margin-bottom: 30px;
}

#fact .count .snd {
    background: #F4B00F;
}

#fact .count .thrd {
    background: #0AD59D;
}

#fact .count .fth {
    background: #7857FE;
}

#fact .count .item h3 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 28px;
    color: #fff;
}

#fact .count .item p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}

/* =====================================
        Fects Part end
======================================== */
/* =====================================
        Screenshorts Part start
======================================== */
#screenshot {
    padding: 80px 0;
    position: relative;
}

#screenshot .screen-slider .screen {
    margin: 0 15px;
}

#screenshot .screen-slider .screen img {
    width: 100%;
}

#screenshot .screen-slider .slick-dots {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#screenshot .screen-slider .slick-dots .slick-active button {
    background: #7857FE;
}

#screenshot .screen-slider ul li {
    display: inline-block;
    margin-right: 10px;
}

#screenshot .screen-slider ul li button {
    font-size: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #7857FE;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* =====================================
        Screenshorts Part end
======================================== */
/* =====================================
        App Part start
======================================== */
#app-part {
    background: url(../images/app-bg.jpg) no-repeat center;
    background-size: cover;
}

#app-part .title h3 {
    color: #fff;
}

#app-part .overlay {
    width: 100%;
    height: 100%;
    background: rgba(120, 87, 254, 0.6);
    padding: 30px 0;
}

#app-part .card {
    text-align: center;
    padding: 30px 10px;
    background: #fff;
}

#app-part .card .round i {
    font-size: 16px;
    color: #7857FE;
}

#app-part .card h3 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 16px;
    color: #383838;
    margin: 15px 0;
}

#app-part .card .icon i {
    font-size: 40px;
    color: #7857FE;
}

#app-part .card p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #222222;
}

#app-part .card .button a {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    background: #7857FE;
    border-radius: 27px;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    -ms-border-radius: 27px;
    -o-border-radius: 27px;
    padding: 10px 15px;
    margin-top: 20px;
}

/* =====================================
        App Part end
======================================== */
/* =====================================
        Works Part start
======================================== */
#work-part {
    padding: 30px 0;
}

#work-part .work-items {
    position: relative;
}

#work-part .work-items::after {
    position: absolute;
    content: '';
    top: 17px;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 711px;
    height: 1px;
    background: #7857FE;
    z-index: -1;
}

#work-part .item {
    text-align: center;
}

#work-part .item .round {
    width: 35px;
    height: 35px;
    background: #7857FE;
    margin: 0 auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#work-part .item .round h3 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

#work-part .item h3 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 16px;
    color: #383838;
    margin: 15px 0;
}

#work-part .item p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #222222;
    width: 230px;
    margin: 0 auto;
    margin-bottom: 15px;
}

/* =====================================
        Works Part end
======================================== */
/* =====================================
        Clint Part start
======================================== */
#clint-part {
    padding: 30px 0;
    background: #F8F8F8;
}

#clint-part .card {
    background: #F8F8F8;
    padding: 30px 10px;
    text-align: center;
    margin: 1px 15px;
}

#clint-part .card .img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clint-part .card .img img {
    width: 60px;
    height: 60px;
    border: 2px solid #7857FE;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#clint-part .card .img .img-overlay {
    position: absolute;
    top: 50%;
    right: 0;
    width: 18px;
    height: 18px;
    background: #7857FE;
    transform: translate(50%, -50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
}

#clint-part .card .img .img-overlay i {
    font-size: 12px;
    color: #fff;
}

#clint-part .card p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #222222;
    width: 230px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 15px;
}

#clint-part .card h3 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 18px;
    color: #383838;
}

#clint-part .card h4 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: 15px;
    margin-top: 10px;
}

#clint-part .card .icon i {
    color: #ffcf42;
}

#clint-part .client-slider ul {
    text-align: center;
    margin-top: 15px;
}

#clint-part .client-slider ul li {
    display: inline-block;
    margin-right: 10px;
}

#clint-part .client-slider ul li button {
    font-size: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #7857FE;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#clint-part .client-slider .slick-dots .slick-active button {
    background: #7857FE;
}

/* =====================================
        Clint Part end
======================================== */
/* =====================================
        Price Part start
======================================== */
#price {
    padding: 30px 0;
}

#price .card {
    text-align: center;
    padding: 30px 10px;
}

#price .card h3 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 16px;
    color: #383838;
    margin-bottom: 20px;
}

#price .card h4 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 14px;
    color: #7a7a7a;
}

#price .card span {
    color: #7857FE;
    font-size: 40px;
}

#price .card ul {
    text-align: left;
    margin: 15px 0;
}

#price .card ul li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #222222;
    margin-bottom: 10px;
}

#price .card ul li i {
    font-size: 14px;
    color: #7857FE;
    margin-right: 10px;
}

#price .card a {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    background: #7857FE;
    border-radius: 27px;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    -ms-border-radius: 27px;
    -o-border-radius: 27px;
    padding: 10px 15px;
}

/* =====================================
        Price Part end
======================================== */
/* =====================================
        Team Part start
======================================== */
#team {
    padding: 30px 0;
    background: #F8F8F8;
}

#team .card {
    padding: 15px;
    margin: 1px 15px;
}

#team .card .img img {
    width: 100%;
}

#team .card h3 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 18px;
    color: #383838;
    margin-top: 10px;
}

#team .card h4 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: 15px;
    margin-top: 10px;
}

#team ul {
    text-align: center;
    margin-top: 15px;
}

#team ul li {
    display: inline-block;
    margin-right: 10px;
}

#team ul li button {
    font-size: 0;
    width: 20px;
    height: 8px;
    border: 1px solid #7857FE;
}

#team .slick-dots .slick-active button {
    background: #7857FE;

}

/* =====================================
        Team Part end
======================================== */
/* =====================================
        Question Part end
======================================== */
#question {
    padding: 30px 0;
}

#question .questions {
    width: 730px;
    margin: 0 auto;
}

#question .questions .active {
    background: #F8F8F8;
}

#question .questions .active .q-item {
    background: #7857FC;
    color: #fff;
}

#question .questions .q-item {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #222222;
    position: relative;
}

#question .questions .q-item i {
    font-size: 14px;
    color: #222222;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%) rotate(180deg);
    -webkit-transform: translateY(-50%) rotate(180deg);
    -moz-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    -o-transform: translateY(-50%) rotate(180deg);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

#question .questions .active .q-item i {
    transform: translateY(-50%) rotate(0deg);
    -webkit-transform: translateY(-50%) rotate(0deg);
    -moz-transform: translateY(-50%) rotate(0deg);
    -ms-transform: translateY(-50%) rotate(0deg);
    -o-transform: translateY(-50%) rotate(0deg);
    color: #fff;
}

/* =====================================
        Question Part end
======================================== */
/* =====================================
        Touch Part end
======================================== */
#touch {
    padding: 30px 0;
    background: #F8F8F8;
}

#touch h3 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 18px;
    color: #383838;
}

#touch ul {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#touch ul li h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #616161;
}

#touch ul li p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #7a7a7a;
}

#touch ul li i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #7857FE;
    border: 1px solid #7857FE;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 15px;
}
#touch button{
    border: 0;
    background: #7857FC;
    color: #fff;
    padding: 15px;
    border-radius: 27px;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    -ms-border-radius: 27px;
    -o-border-radius: 27px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

/* =====================================
        Touch Part end
======================================== */
/* =====================================
        Footer Part end
======================================== */
footer {
   padding-top: 30px;
    background: rgb(120, 87, 254);
    background: linear-gradient(0deg, rgb(120 87 254 / 100%) 0%, rgb(120 87 254 / 100%) 100%);
}
footer h3{
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
}
footer p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}
footer ul li{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    margin-bottom: 15px;
}
footer .bottom{
    padding: 15px 0;
    text-align: center;
    border-top: 1px solid #979797;
    margin-top: 20px;
}
footer .bottom span{
    color: #b5d4ff;
}
/* =====================================
        Footer Part end
======================================== */